body {
  font-family: sans-serif;
}

.navigation {
  background-color: pink;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}

.blogposts {
  text-align: center;
  font-weight: lighter;
}

body {
  margin: 0px;
}
